/* PrismJS 1.29.0
 * https://prismjs.com/download.html#themes=prism-coy&languages=markup+css+clike+javascript+bash+java+markdown+jsx+tsx+typescript+yaml&plugins=keep-markup
 * coy theme for prismjs
 *
 * Altered to work with Bitbucket. Background color and box shadow have been removed, in order to preserve diffs.
 */
code[class*=bb-syntax-highlighter-], pre[class*=bb-syntax-highlighter-] {
    color: #000;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1 emhttps: / / prismjs . com / download . html #themes = prism-coy & languages = markup+css+clike+javascript+bash+java+markdown+jsx+tsx+typescript+yaml & plugins =
    keep-markuhttps: / / prismjs . com / download . html #themes = prism-coy & languages = markup+css+clike+javascript+bash+java+markdown+jsx+tsx+typescript+yaml & plugins = keep-markupp;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre[class*=bb-syntax-highlighter-] {
    position: relative;
    margin: .5em 0;
    overflow: visible;
    padding: 1px
}

pre[class*=bb-syntax-highlighter-] > code {
    position: relative;
    z-index: 1;
    border-left: 10px solid #358ccb;
}

code[class*=bb-syntax-highlighter-] {
    max-height: inherit;
    height: inherit;
    padding: 0 1em;
    display: block;
    overflow: auto
}

:not(pre) > code[class*=bb-syntax-highlighter-], pre[class*=bb-syntax-highlighter-] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1em
}

:not(pre) > code[class*=bb-syntax-highlighter-] {
    position: relative;
    padding: .2em;
    border-radius: .3em;
    color: #c92c2c;
    border: 1px solid rgba(0, 0, 0, .1);
    display: inline;
    white-space: normal
}

pre[class*=bb-syntax-highlighter-]:after, pre[class*=bb-syntax-highlighter-]:before {
    content: '';
    display: block;
    position: absolute;
    bottom: .75em;
    left: .18em;
    width: 40%;
    height: 20%;
    max-height: 13em;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg)
}

pre[class*=bb-syntax-highlighter-]:after {
    right: .75em;
    left: auto;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg)
}

[class*=bb-syntax-highlighter-] .token.block-comment,
[class*=bb-syntax-highlighter-] .token.cdata,
[class*=bb-syntax-highlighter-] .token.comment,
[class*=bb-syntax-highlighter-] .token.doctype,
[class*=bb-syntax-highlighter-] .token.prolog {
    color: #7d8b99
}

[class*=bb-syntax-highlighter-] .token.punctuation {
    color: #5f6364
}

[class*=bb-syntax-highlighter-] .token.boolean,
[class*=bb-syntax-highlighter-] .token.constant,
[class*=bb-syntax-highlighter-] .token.deleted,
[class*=bb-syntax-highlighter-] .token.function-name,
[class*=bb-syntax-highlighter-] .token.number,
[class*=bb-syntax-highlighter-] .token.property,
[class*=bb-syntax-highlighter-] .token.symbol,
[class*=bb-syntax-highlighter-] .token.tag {
    color: #c92c2c
}

[class*=bb-syntax-highlighter-] .token.attr-name,
[class*=bb-syntax-highlighter-] .token.builtin,
[class*=bb-syntax-highlighter-] .token.char,
[class*=bb-syntax-highlighter-] .token.function,
[class*=bb-syntax-highlighter-] .token.inserted,
[class*=bb-syntax-highlighter-] .token.selector,
[class*=bb-syntax-highlighter-] .token.string {
    color: #2f9c0a
}

[class*=bb-syntax-highlighter-] .token.entity,
[class*=bb-syntax-highlighter-] .token.operator,
[class*=bb-syntax-highlighter-] .token.url,
[class*=bb-syntax-highlighter-] .token.variable {
    color: #a67f59;
    background-color: transparent;
}

[class*=bb-syntax-highlighter-] .token.atrule,
[class*=bb-syntax-highlighter-] .token.attr-value,
[class*=bb-syntax-highlighter-] .token.class-name,
[class*=bb-syntax-highlighter-] .token.keyword {
    color: #1990b8
}

[class*=bb-syntax-highlighter-] .token.important,
[class*=bb-syntax-highlighter-] .token.regex {
    color: #e90
}

.language-css .token.string, .style .token.string {
    color: #a67f59;
}

[class*=bb-syntax-highlighter-] .token.important {
    font-weight: 400
}

[class*=bb-syntax-highlighter-] .token.bold {
    font-weight: 700
}

[class*=bb-syntax-highlighter-] .token.italic {
    font-style: italic
}

[class*=bb-syntax-highlighter-] .token.entity {
    cursor: help
}

[class*=bb-syntax-highlighter-] .token.namespace {
    opacity: .7
}

@media screen and (max-width: 767px) {
    pre[class*=bb-syntax-highlighter-]:after, pre[class*=bb-syntax-highlighter-]:before {
        bottom: 14px;
    }
}

pre[class*=bb-syntax-highlighter-].line-numbers.line-numbers {
    padding-left: 0
}

pre[class*=bb-syntax-highlighter-].line-numbers.line-numbers code {
    padding-left: 3.8em
}

pre[class*=bb-syntax-highlighter-].line-numbers.line-numbers .line-numbers-rows {
    left: 0
}

pre[class*=bb-syntax-highlighter-][data-line] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0
}

pre[data-line] code {
    position: relative;
    padding-left: 4em
}

pre .line-highlight {
    margin-top: 0
}
